
.index{
    width: 100%;
    height: 100%;
}
.img_left{
    position: absolute;
    left:40px;
    bottom:140rpx;
    z-index: 1;
    width: 60rpx;
    height: 60rpx;
}
.img_right{
    position: absolute;

    right:40px;
    bottom:140rpx;
    z-index: 1;
     width: 60rpx;
    height: 60rpx;
    border: 2px solid black;
    border-radius: 50%;
    background: black;
}
.coverview{
    height: 200rpx;
    z-index: 99999;
    width: 100%;
}
Button{
    position: absolute;
    z-index: 1;
    left:0;
    bottom:0;
    right: 0;
    background: black;
    color:white
}
#map{
    width: 100%;
    height: 100%;
    position: relative;
}